body {
  font-family: Arial, sans-serif;
  background-color: lightgreen;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

ul .ingredients-list {
  list-style: square,inside;
}

ol {
  list-style: upper-latin;
}

header > img {
  width: 100px
}

ui li a {
  text-decoration: none;
}
